{% extends "knitout/layout.html" %}

{% block body %}
<h1>Add steps</h1>
<div id="add_steps_page">
<form method="POST">
    {% csrf_token %}
    {{ form_steps.management_form }}
        {% for form in form_steps %}
        <div class="add_step" id="add_step_{{ forloop.counter }}">
            <div class="add_step_counter">{{ forloop.counter }}</div>
            <div class="add_step_text">{{ form.as_p }}</div>
        </div>
        {% endfor %}
    <div id="add_step_buttons">
        <button id="add_step_prev" disabled>Previous</button>
        <button id="add_step_next">Next</button>
        <input id="add_steps_button" type="submit" value="Add Steps">
    </div>
</form>
</div>
{% endblock %}
