{% extends "knitout/layout.html" %}

{% block body %}
<div id="profile_head">
    <div id="profile_name">
        <h1>{{ profile.name }}</h1>
        {% if user.is_authenticated and profile.owner == False %}
    <div id="profile_follow"><button class="btn btn-secondary" id="profile_follow_button">Follow</button></div>
    {% endif %}
    </div>
    
    <div id="profile_extra">
        <div id="profile_followers"><b>Followers: </b>{{ profile.followers }}</div>
        <div id="profile_num_recipes"><b>Recipes: </b>{{ profile.num_recipes }}</div>
        <div id="profile_joined"><b>Joined: </b>{{ profile.joined }}</div>
    </div>
</div>
<div id="profile_div">
    
    <div class="recipes_all">
        {% if profile.recipes %}
        {% for recipe in profile.recipes %}
        <a class="recipe_preview_link" href="{% url 'recipe_view' recipe.id %}">
            <div class="recipe_preview">
                <div class="recipe_preview_id">{{ recipe.id }}</div>
                <div class="recipe_preview_name">{{ recipe.name }}</div>
                <div class="recipe_preview_category">{{ recipe.get_category_display }}</div>
                <div class="recipe_preview_difficulty">{{ recipe.get_difficulty_display }}</div>
                <div class="recipe_preview_image"><img class="recipe_preview_image_img" src="{{ recipe.image.url }}" alt="Recipe Image"></div>
                <div class="recipe_preview_bar">
                    <div class="recipe_down">
                        <i class="fa-regular fa-thumbs-down"></i>
                    </div>
                        <div class="progress w-50" role="progressbar" aria-label="Good/Bad"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                    <div class="recipe_up">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
        <div class="pagination_div">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if profile.recipes.has_previous %}
                        <li class="page-item"><a class="next_prev" href="?page={{ profile.recipes.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="next_prev dimmed">Previous</a></li>
                    {% endif %}
                    {% if profile.recipes.has_next %}
                        <li class="page-item"><a class="next_prev" href="?page={{ profile.recipes.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="next_prev dimmed">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div> 
        {% else %}
            {{ profile.name}} didn't add any recipes yet !
        {% endif %}
    </div>


</div>
{% endblock %}
