{% extends "knitout/layout.html" %}

{% block body %}
<div id="login_reg">
    <p class="title_text_big">Register</p>

    {% if message %}
        <div class="replace_text">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="login_forms" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="login_forms" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="login_forms" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="login_forms" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="submit_div">
            <input class="btn btn-dark" type="submit" value="Register">
        </div>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
</div>
{% endblock %}