{% extends "knitout/layout.html" %}

{% block body %}
<div id="login_reg">
    <p class="title_text_big">Login</p>

    {% if message %}
        <div class="replace_text">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="login_forms" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="login_forms" type="password" name="password" placeholder="Password">
        </div>
        <div class="submit_div">
            <input class="btn btn-dark" type="submit" value="Login">
        </div>    
    </form>
    <p>Don't have an account?
    <a href="{% url 'register' %}">Register here.</a></p>
</div>
{% endblock %}